<section class="section section-page-title">
  <div class="overlay">
    <h1>Get in Touch </h1>
  </div>
  <!--overlay-->
</section>
<section id="contact" class="section section-contact">
  <!-- section-title -->
  <div class="section-title text-center">
    <h1 class="text-center">Get in Touch </h1>
    <p class="intro max-500">If you have a question regarding my makeup services or would like to schedule a consultation, feel free to contact me using the form below.</p>
  </div>
  <!-- end section-title -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="contact-detail"> <i class="fa fa-map-marker"></i>
          <p> <strong>Location:</strong> <br/>
            Far East Plaza <br/>
            Singapore </p>
        </div>
        <div class="contact-detail"> <i class="fa fa-phone"></i>
          <p> <strong>Call me:</strong> <br/>
            Phone: +65 68844 930 <br/>
            Mobile: +65 9108 5430 </p>
        </div>
        <div class="contact-detail"> <i class="fa fa-comments"></i>
          <p> <strong>Email:</strong> <br/>
            <a href="mailto:info@yourdomain.net">info@yourdomain.net</a> <br/>
            <a href="mailto:info@yourdomain.net">customer@yourdomain.net</a> </p>
        </div>
      </div>
      <!--col-6-->


      <div class="col-lg-8 col-md-8">
        <%= render 'form' %>
      </div>
      <!--col-8-->


    </div>
  </div>
</section>
<!--section-contact-->